---
import IndexPage from "src/layouts/IndexPage.astro";
import {comment} from "../../../consts";

import {getLangFromUrl, t} from '../../../i18n/utils'
const lang = getLangFromUrl(Astro.url);
---

<IndexPage frontmatter={{comment: comment.enable, donate: false,}}>
  <div class="flex text-xl underline-offset-4 font-bold">
    {t('message.welcome', lang)}
  </div>
  <div>
    {t('message.welcomeTips', lang)}
  </div>
</IndexPage>
