---
import {formatDate} from "../utils/formatDate";
import {getLangFromUrl, t} from "../i18n/utils";

const { date } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const postDate = date ? formatDate(date, lang) : '';
---

<span class={date ? "mr-2" : ""}>
  {postDate ? `${t('feed.publishedIn', lang)}: ${postDate}` : ''}
</span>
