---
import PostViewTitle from '../components/PostViewTitle.astro'
import {getLangFromUrl, localizePath} from "../i18n/utils";
const {blog} = Astro.props;
const {data, slug} = blog
const lang = getLangFromUrl(Astro.url);
---

<div class="my-5 first:mt-0">
  <PostViewTitle
    slug={localizePath(`/blog/${slug}`, lang)}
    {...data}
  >
  </PostViewTitle>
  <p class="break-all text-skin-base line-clamp-3">
    {
      data.description ? data.description : ''
    }
  </p>
</div>
<div class="divider-horizontal-mini"></div>

