---
const { label } = Astro.props;
import {getLangFromUrl, t}from '../i18n/utils'
const lang = getLangFromUrl(Astro.url);
---

<div class="my-2 text-wrap break-all">{t('search.labelOne', lang)} <span class="text-skin-active mx-1">{label ==='uncategorized' ? t('sidebar.uncategorized', lang) : label}</span> {t('search.labelTwo', lang)}</div>
